*{
    margin: 0;
    padding: 0;
}

#front{
    padding: 50px;
    background-color: rgba(250, 235, 215, 0.664);
    border-radius: 10px;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #B85C3C;
    line-height: 1.6;
}

#showcase{
    background-image: url(../img/pexels-lina-kivaka-1813496.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase h1{
    font-size: 50px;
    line-height: 1.2;
}

#showcase p{
    font-size: 20px;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover{
    background:#926239;*
    color: #fff;
}

#section-a{
    padding: 20px;
    background: #926239;
    color: white;
    text-align: center;
}

img{
    border-radius: 10%;
}

#section-a .h2{
    padding: 20px;
    margin-top: 200px;
}

#section-b{
    border-radius: 10px;
    padding: 20px;
    background: #a7a7a760;
}

#section-b img{
    height: 20%;      
    max-width: 20%;
}